// Container for the whole dashboard
.dashboard-container {
  margin: auto;
  height:100vh;
  font-family: 'Arial', sans-serif;
  .dashboard-inner-container {
    display:flex;
    justify-content: center;
  }
  // Modify default list styling
  ul {
    margin:0;
    width:100%;
    max-width: 680px;
    list-style: none;
    padding: 15px;
    li {
      border-radius: 12px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      padding: 15px;
      background-color: #fff;
      text-align: center;
    }
  }
}
