.accordion {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    margin: 0px 10px;
  }

  .preview-mode {
    .accordion {
      margin-right: 20px;
    }
  }
  
.contentArea {
    flex: 4;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;

    &.active {
      max-height: 80vh; /* Adjust this value as needed based on your content */
      opacity: 1;
    }
    
  }
  
  .navRow {
    flex: 1;  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-size: 24px; /* Default font size */
    margin: 5px;
    border-radius: 20px;
    width:100%;
    max-width:1080px;

    &:hover {
      background-color: #f0f0f0;
    }
    
    &.shrink {
      flex: 0.2;  /* Adjusting the flex value to make the row shorter when shrunk */
      font-size: 14px; /* Smaller font size when shrunk */
    }
    
    &.selected {
      flex: .6; /* This makes the selected row take more space than the default state */
      font-size: 24px; /* Default font size when selected */
    }
  
  }
  
