/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.customization-container,.portal-container {
  margin-top: 50px; /* Adjust this value to move the field down as much as you like */
}

:root {
  --dashboard-bg-color: linear-gradient(135deg, #0036e8, #d30909);
}

.dashboard-bg-element {
position:fixed;
height:100vh;
width:100%;
background: var(--dashboard-bg-color);
z-index:-1;
}

.signup-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  z-index: 10; 
}

.login-status {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: white;
  z-index: 1000; /* To ensure it appears above other elements */
}

.user-dashboard-container {
  position: relative;  /* Make this a positioning context */
}

.floating-button-container {
  position: fixed;  /* Absolute positioning */
  top: 0;
  right: 0;
  z-index: 1;  /* Make sure it's on top */

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  background-color: rgba(255, 255, 255, 0.8);  /* Semi-transparent background */
  padding: 8px;
  border-radius: 4px;  /* Optional rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  /* Optional shadow */
}

.portal-container {
  max-width: 400px;
  margin:  20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);

  h1 {
    margin-top:0;
  }
}

.form-input {
  width: calc(100% - 24px);  // Subtract the left and right padding
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;  // Include padding and border in the element's total width and height
}

.form-submit-button {
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-error {
  color: red;
  font-weight: bold;
}

.login-link-button {
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.login-link-button {
  background-color: #007bff;
  color: white;
}

.username-link {
  text-decoration: none;
  font-weight: bold;
  color: #007bff;  // You can choose any color you like
  
  &:hover {
    text-decoration: underline;  // Underline on hover
  }
}

.logout-button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #ff4d4d;  // Red color
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

/* Minimalistic Scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 8px;  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #888;  /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;  /* color of the scroll thumb when hovering */
}

/* Minimalistic Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}