/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.customization-container,.signup-container {
  margin-top: 50px; /* Adjust this value to move the field down as much as you like */
}

.signup-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  z-index: 10; 
}

.login-status {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: white;
  z-index: 1000; /* To ensure it appears above other elements */
}

.user-dashboard-container {
  position: relative;  /* Make this a positioning context */
}

.floating-button-container {
  position: absolute;  /* Absolute positioning */
  top: 0;
  right: 0;
  z-index: 1;  /* Make sure it's on top */

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  background-color: rgba(255, 255, 255, 0.8);  /* Semi-transparent background */
  padding: 8px;
  border-radius: 4px;  /* Optional rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  /* Optional shadow */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container form div {
  margin: 10px;
}

.signup-container {
  max-width: 400px;
  margin:  20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);

  h1 {
    margin-top:0;
  }
}

.signup-input {
  width: calc(100% - 24px);  // Subtract the left and right padding
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;  // Include padding and border in the element's total width and height
}

.signup-form-button {
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.signup-error {
  color: red;
  font-weight: bold;
}
