/* src/NavRow.css */
.navRow {
    flex: 1;  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .navRow:hover {
    background-color: #f0f0f0;
  }
  
  .navRow.shrink {
    flex: 0.2;  /* Adjusting the flex value to make the row shorter when shrunk */
  }
  
  .navRow.selected {
    flex: .6; /* This makes the selected row take more space than the default state */
  }
  